<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto Service</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/homecss.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/javascript/homejs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  </head>
  <body>
    <!-- company Header And info -->
    <section id="FirstSection">
      <div id="secondDiv">
        <h1 id="MainHead">Auto Service</h1>
        <h3 id="secondHead">Climatisation - Sonorisation - Alarme</h3>
        <div>
          11 BP 1929 Abidjan 11 - Boulevard de Marseille - Zone 2C face Palais
          des sports
        </div>
        <div>Tel: (225) 21 25 21 25 - 21 24 21 24 - Fax: (225) 21 24 59 81</div>
        <div>
          Cel: (225) 07 45 40 40 - 07 88 84 89 - E-mail: Carservice@hotmail.fr
        </div>
      </div>
    </section>
    <!-- end of comapny header and info -->

    <!-- search Bar -->
    <form action="/clients" method="GET">
      <div class="row" style="display: flex; justify-content: center">
        <div class="col-md-4 col-sm-4">
          <input
            type="text"
            name="client"
            id="ClientName"
            placeholder="Client"
            style="width: 100%"
          />
        </div>

        <div class="col-md-2 col-sm-2">
          <button style="background-color: #04538c; color: white">
            <i class="fa fa-search addOns"></i>
          </button>
        </div>

        <div class="col-md-3 col-sm-3">
          <label for="BillNum">Numéro:</label>
          <input type="text" id="BillNum" value="<%=num%> " disabled />
        </div>
      </div>
    </form>
    <!-- end of search Bar -->
    <div class="myInvoice">
      <form action="/billing" method="POST">
        <!-- choice -->
        <div class="row centered">
          <div class="col-md-3 col-sm-3">
            <input type="radio" id="nouveau" name="choice" value="Nouveau" />
            <label for="nouveau" class="ToUpper">nouveau</label>
          </div>
          <div class="col-md-3 col-sm-3">
            <input type="radio" id="retour" name="choice" value="Retour" />
            <label for="retour" class="ToUpper">retour</label>
          </div>
          <div class="col-md-3 col-sm-3">
            <input
              type="radio"
              id="Entretien"
              name="choice"
              value="Entretien"
            />
            <label for="Entretien" class="ToUpper">Entretien</label>
          </div>
        </div>
        <!-- end of choice -->

        <!-- fiche de reception -->
        <div class="row row1">
          <div class="col-md-5 col-sm-5 addpadd">
            <h3 class="ToUpper headers3">fiche de reception voiture</h3>
            <div class="col-md-12 col-sm-12">
              <label for="date">Date:</label>
              <input type="date" name="date" id="date" style="width: 100%" />
            </div>
            <% if(customer){ %>
            <div class="col-md-12 col-sm-12">
              <label for="client">Client:</label>
              <input
                type="text"
                name="Cust[client]"
                id="client"
                value="<%=customer.client%>"
                style="width: 100%"
              />
            </div>
            <div class="col-md-12 col-sm-12">
              <label for="voiture">Voiture:</label>
              <input
                type="text"
                name="Cust[car]"
                id="voiture"
                value="<%=customer.car%>"
                style="width: 100%"
              />
            </div>
            <div class="col-md-12 col-sm-12">
              <label for="tel">Tél:</label>
              <input
                type="text"
                name="Cust[tel]"
                id="tel"
                value="<%=customer.tel%>"
                style="width: 100%"
              />
            </div>
            <div class="col-md-12 col-sm-12">
              <label for="Cellulaire">Cellulaire:</label>
              <input
                type="text"
                name="Cust[cellulaire]"
                id="Cellulaire"
                value="<%=customer.cellulaire%>"
                style="width: 100%"
              />
            </div>
            <% } else{ %>
            <div class="col-md-12 col-sm-12">
              <label for="client">Client:</label>
              <input
                type="text"
                name="Cust[client]"
                id="client"
                style="width: 100%"
              />
            </div>
            <div class="col-md-12 col-sm-12">
              <label for="voiture">Voiture:</label>
              <input
                type="text"
                name="Cust[car]"
                id="voiture"
                style="width: 100%"
              />
            </div>
            <div class="col-md-12 col-sm-12">
              <label for="tel">Tél:</label>
              <input
                type="text"
                name="Cust[tel]"
                id="tel"
                style="width: 100%"
              />
            </div>
            <div class="col-md-12 col-sm-12">
              <label for="Cellulaire">Cellulaire:</label>
              <input
                type="text"
                name="Cust[cellulaire]"
                id="Cellulaire"
                style="width: 100%"
              />
            </div>
            <%} %>

            <div class="col-md-12 col-sm-12">
              <label for="immatriculation">Immatriculation:</label>
              <input
                type="text"
                name="immatriculation"
                id="immatriculation"
                style="width: 100%"
              />
            </div>
            <div class="col-md-12 col-sm-12">
              <label for="Kilometrage">Kilometrage:</label>
              <input
                type="text"
                name="Kilometrage"
                id="Kilometrage"
                style="width: 100%"
              />
            </div>
            <div class="col-md-12 col-sm-12">
              <label for="hour">Heure de réception:</label>
              <input type="text" name="hour" id="hour" style="width: 100%" />
            </div>

            <div class="col-md-12 col-sm-12">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-12 col-sm-12">
                  <label for="tel">Année:</label>
                  <input type="text" name="tel" id="tel" style="width: 100%" />
                </div>
                <div class="col-md-12 col-sm-12">
                  <label for="Couleur">Couleur:</label>
                  <input
                    type="text"
                    name="Couleur"
                    id="Couleur"
                    style="width: 100%"
                  />
                </div>
                <div class="col-md-12 col-sm-12">
                  <label for="essence">Essence</label>
                  <select name="essence" id="essence" style="width: 100%">
                    <option value="empty">|</option>
                    <option value="half_empty">||</option>
                    <option value="half">|||</option>
                    <option value="half_full">||||</option>
                    <option value="full">|||||</option>
                  </select>
                </div>
                <div class="col-md-12 col-sm-12">
                  <label for="tel">Gasoil:</label>
                  <input
                    type="text"
                    name="Gasoil"
                    id="Gasoil"
                    style="width: 100%"
                  />
                </div>
              </div>
              <!-- <div class="col-md-6 col-sm-3 stayinline setBack"></div> -->
            </div>
          </div>

          <div class="col-md-7 col-sm-7 addpadd">
            <h3 class="headers3">
              Panne trouvée sur le véhicule et Pieces manquantes
            </h3>
            <div class="col-md-12 col-sm-12 FitMore">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="chauffage"
                    name="Panne[chauffage]"
                    value="Chauffage"
                  />
                  <label for="chauffage">Chauffage</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Phare"
                    name="Panne[Phare]"
                    value="Phare"
                  />
                  <label for="Phare">Phare</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Air"
                    name="Panne[Air_Bag]"
                    value="Air bag et SRS"
                  />
                  <label for="Air">Air bag et SRS</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Clignotant"
                    name="Panne[Clignotant]"
                    value="Clignotant"
                  />
                  <label for="Clignotant">Clignotant</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Rétroviseur"
                    name="Panne[Rétroviseur]"
                    value="Rétroviseur"
                  />
                  <label for="Rétroviseur">Rétroviseur</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Stop"
                    name="Panne[Stop]"
                    value="Stop"
                  />
                  <label for="Stop">Stop</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Vitre"
                    name="Panne[Vitre]"
                    value="Vitre"
                  />
                  <label for="Vitre">Vitre</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Pneu"
                    name="Panne[Pneu]"
                    value="Pneu secours"
                  />
                  <label for="Pneu">Pneu secours</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Radio"
                    name="Panne[Radio]"
                    value="Radio"
                  />
                  <label for="Radio">Radio</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Cric"
                    name="Panne[Cric]"
                    value="Cric"
                  />
                  <label for="Cric">Cric</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Triangle"
                    name="Panne[Triangle]"
                    value="Triangle"
                  />
                  <label for="Triangle">Triangle</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Clef"
                    name="Panne[Clef]"
                    value="Clef de roue"
                  />
                  <label for="Clef">Clef de roue</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Klaxon"
                    name="Panne[Klaxon]"
                    value="Klaxon"
                  />
                  <label for="Klaxon">Klaxon</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Essuie"
                    name="Panne[Essuie]"
                    value="Essuie Glace"
                  />
                  <label for="Essuie">Essuie Glace</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="ABS"
                    name="Panne[ABS]"
                    value="ABS"
                  />
                  <label for="ABS">ABS</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Moteur"
                    name="Panne[Moteur]"
                    value="Moteur"
                  />
                  <label for="Moteur">Moteur</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Huile"
                    name="Panne[Huile]"
                    value="Huile Moteur"
                  />
                  <label for="Huile">Huile Moteur</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Enjoliveur"
                    name="Panne[Enjoliveur]"
                    value="Enjoliveur"
                  />
                  <label for="Enjoliveur">Enjoliveur</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Batterie"
                    name="Panne[Batterie]"
                    value="Batterie"
                  />
                  <label for="Batterie">Batterie</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Allumage"
                    name="Panne[Allumage]"
                    value="Allumage cigarette"
                  />
                  <label for="Allumage">Allumage cigarette</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Température"
                    name="Panne[Température]"
                    value="Température"
                  />
                  <label for="Température">Température</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="verrouillage"
                    name="Panne[verrouillage]"
                    value="Systeme verrouillage"
                  />
                  <label for="verrouillage">Systeme verrouillage</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Antenne"
                    name="Panne[Antenne]"
                    value="Antenne"
                  />
                  <label for="Antenne">Antenne</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Siege"
                    name="Panne[Siege]"
                    value="Siege"
                  />
                  <label for="Siege">Siege</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Par-brise"
                    name="Panne[Par-brise]"
                    value="Par brise"
                  />
                  <label for="Par-brise">Par-brise</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Volet"
                    name="Panne[Volet]"
                    value="Volet d'air"
                  />
                  <label for="Volet">Volet d'air</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Capot"
                    name="Panne[Capot]"
                    value="Capot"
                  />
                  <label for="Capot">Capot</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Ouverture"
                    name="Panne[Ouverture]"
                    value="Ouverture de plafond"
                  />
                  <label for="Ouverture">Ouverture de plafond</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Automatique"
                    name="Panne[Automatique]"
                    value="Automatique vitess"
                  />
                  <label for="Automatique">Automatique vitesse</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Injecteur"
                    name="Panne[Injecteur]"
                    value="Injecteur eau vitre"
                  />
                  <label for="Injecteur">Injecteur eau vitre</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Manual"
                    name="Panne[Manual]"
                    value="Manual vitess"
                  />
                  <label for="Manual">Manual vitesse</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="checkbox"
                    id="Siegeauto"
                    name="Panne[Siegeauto]"
                    value="Siege automatique"
                  />
                  <label for="Siegeauto">Siege automatique</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of fiche de reception -->
        <div class="row" style="margin-top: 2em">
          <h3 class="ToUpper headers3">pieces À reparer</h3>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-md-12 col-sm-12 displatFlexEven">
            <div class="col-md-3 col-sm-12">
              <div
                style="
                  border-top: 2px solid #04538c;
                  border-bottom: 2px solid #04538c;
                "
              >
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Gaz_Fréon"
                      name="Piece[Gaz_Fréon]"
                      value="Gaz Fréon"
                    />
                    <label for="Gaz_Fréon">Gaz Fréon</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Huile_compresseur"
                      name="Piece[Huile_compresseur]"
                      value="Huile compresseur"
                    />
                    <label for="Huile_compresseur">Huile compresseur</label
                    ><br />
                  </div>
                </div>
              </div>

              <div style="border-bottom: 2px solid #04538c">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Bouton_A"
                      name="Piece[Bouton_A]"
                      value="Bouton A/C"
                    />
                    <label for="Bouton_A">Bouton A/C</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="bouteille_Filtre"
                      name="Piece[bouteille_Filtre]"
                      value="bouteille du Filtre"
                    />
                    <label for="bouteille_Filtre">Bouteille du Filtre</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Bobine"
                      name="Piece[Bobine]"
                      value="Bobine"
                    />
                    <label for="Bobine">Bobine</label><br />
                  </div>
                </div>
              </div>

              <div style="border-bottom: 2px solid #04538c">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Charbon_Ventilateur"
                      name="Piece[Charbon_Ventilateur]"
                      value="Charbon Ventilateur"
                    />
                    <label for="Charbon_Ventilateur">Charbon ventilateur</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Centralisation"
                      name="Piece[Centralisation]"
                      value="Centralisation"
                    />
                    <label for="Centralisation">Centralisation</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Compresseur"
                      name="Piece[Compresseur]"
                      value="Compresseur"
                    />
                    <label for="Compresseur">Compresseur</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Condenseur"
                      name="Piece[Condenseur]"
                      value="Condenseur"
                    />
                    <label for="Condenseur">Condenseur</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Courroie"
                      name="Piece[Courroie]"
                      value="Courroie"
                    />
                    <label for="Courroie">Courroie</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Clutch"
                      name="Piece[Clutch]"
                      value="Clutch"
                    />
                    <label for="Clutch">Clutch</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Culas"
                      name="Piece[Culas]"
                      value="Culas"
                    />
                    <label for="Culas">Culas</label><br />
                  </div>
                </div>
              </div>

              <div style="border-bottom: 2px solid #04538c">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Evaporateur"
                      name="Piece[Evaporateur]"
                      value="Evaporateur"
                    />
                    <label for="Evaporateur">Evaporateur</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Embout"
                      name="Piece[Embout]"
                      value="Embout"
                    />
                    <label for="Embout"
                      >Embout
                      <span class="SpanClickchange">6</span>&NonBreakingSpace;
                      <span onclick="apply()" class="SpanClickchange">8</span
                      >&NonBreakingSpace;
                      <span class="SpanClickchange">10</span
                      >&NonBreakingSpace;</label
                    ><br />
                  </div>
                </div>
              </div>

              <div style="border-bottom: 2px solid #04538c">
                <div class="row">
                  <div class="col-md-12 col-sm-12" style="margin-top: 5px">
                    <input
                      type="checkbox"
                      id="Flexible"
                      name="Piece[Flexible]"
                      value="Flexible"
                    />
                    <label for="Flexible"
                      >Flexible
                      <span class="SpanClickchange">6</span>&NonBreakingSpace;
                      <span class="SpanClickchange">8</span>&NonBreakingSpace;
                      <span class="SpanClickchange">10</span
                      >&NonBreakingSpace;</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Filtre_pollen"
                      name="Piece[Filtre_pollen]"
                      value="Filtre à pollen"
                    />
                    <label for="Filtre_pollen">Filtre à pollen</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Faisceaux_électriques"
                      name="Piece[Faisceaux_électriques]"
                      value="Faisceaux électriques"
                    />
                    <label for="Faisceaux_électriques"
                      >Faisceaux électriques</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Fusible"
                      name="Piece[Fusible]"
                      value="Fusible"
                    />
                    <label for="Fusible">Fusible</label><br />
                  </div>
                </div>
              </div>

              <div>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Joint_culas"
                      name="Piece[Joint_culas]"
                      value="Joint culas"
                    />
                    <label for="Joint_culas">Joint culas</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Joint"
                      name="Piece[Joint]"
                      value="Joint"
                    />
                    <label for="Joint"
                      >Joint
                      <span class="SpanClickchange">4</span>&NonBreakingSpace;
                      <span class="SpanClickchange">6</span>&NonBreakingSpace;
                      <span class="SpanClickchange">8</span>&NonBreakingSpace;
                      <span class="SpanClickchange">10</span
                      >&NonBreakingSpace;<span class="SpanClickchange"
                        >12</span
                      ></label
                    ><br />
                  </div>
                </div>
              </div>
            </div>
            <!-- end of first -->
            <div class="col-md-3 col-sm-12">
              <div style="border: 2px solid #04538c; padding-left: 5px">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Maneau_HP"
                      name="Piece[Maneau_HP]"
                      value="Maneau HP"
                    />
                    <label for="Maneau_HP">Maneau HP</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Module"
                      name="Piece[Module]"
                      value="Module"
                    />
                    <label for="Module">Module</label><br />
                  </div>
                </div>
              </div>

              <div
                style="
                  border: 2px solid #04538c;
                  border-top: none;
                  padding-left: 5px;
                "
              >
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Poulie_compresseur"
                      name="Piece[Poulie_compresseur]"
                      value="Poulie_compresseur"
                    />
                    <label for="Poulie_compresseur">Poulie compresseur</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Pipette_de_charge"
                      name="Piece[Pipette_de_charge]"
                      value="Pipette de charge"
                    />
                    <label for="Pipette_de_charge">Pipette de charge</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Pulseur_air"
                      name="Piece[Pulseur_air]"
                      value="Pulseur d'air"
                    />
                    <label for="Pulseur_air">Pulseur d'air</label><br />
                  </div>
                </div>
              </div>

              <div
                style="
                  border: 2px solid #04538c;
                  border-top: none;
                  padding-left: 5px;
                "
              >
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Relais"
                      name="Piece[Relais]"
                      value="Relais"
                    />
                    <label for="Relais"
                      >Relais
                      <span class="SpanClickchange">12</span>&NonBreakingSpace;/
                      <span class="SpanClickchange">24</span> </label
                    ><br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Roulement"
                      name="Piece[Roulement]"
                      value="Roulement"
                    />
                    <label for="Roulement">Roulement</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Résistance_de_vitesse"
                      name="Piece[Résistance_de_vitesse]"
                      value="Résistance de vitesse"
                    />
                    <label for="Résistance_de_vitesse"
                      >Résistance de vitesse</label
                    ><br />
                  </div>
                </div>
              </div>

              <div
                style="
                  border: 2px solid #04538c;
                  border-top: none;
                  padding-left: 5px;
                "
              >
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Seal_compresseur"
                      name="Piece[Seal_compresseur]"
                      value="Seal compresseur"
                    />
                    <label for="Seal_compresseur">Seal compresseur</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Sélecteur_de_vitess"
                      name="Piece[Sélecteur_de_vitess]"
                      value="Sélecteur de vitess"
                    />
                    <label for="Sélecteur_de_vitess">Sélecteur de vitess</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Support_bouteille"
                      name="Piece[Support_bouteille]"
                      value="Support bouteille"
                    />
                    <label for="Support_bouteille">Support bouteille</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Support_compresseur"
                      name="Piece[Support_compresseur]"
                      value="Support compresseur"
                    />
                    <label for="Support_compresseur">Support compresseur</label
                    ><br />
                  </div>
                </div>
              </div>

              <div
                style="
                  border: 2px solid #04538c;
                  border-top: none;
                  padding-left: 5px;
                "
              >
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Tendeur"
                      name="Piece[Tendeur]"
                      value="Tendeur"
                    />
                    <label for="Tendeur">Tendeur</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Tuyau_Alu"
                      name="Piece[Tuyau_Alu]"
                      value="Tuyau Alu"
                    />
                    <label for="Tuyau_Alu">Tuyau Alu</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Thermostat"
                      name="Piece[Thermostat]"
                      value="Thermostat 12 V"
                    />
                    <label for="Thermostat">Thermostat 12 V</label><br />
                  </div>
                </div>
              </div>

              <div
                style="
                  border: 2px solid #04538c;
                  border-top: none;
                  padding-left: 5px;
                "
              >
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Valve_détendeur"
                      name="Piece[Valve_détendeur]"
                      value="Valve détendeur"
                    />
                    <label for="Valve_détendeur">Valve détendeur</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="Ventilateur"
                      name="Piece[Ventilateur]"
                      value="Ventilateur"
                    />
                    <label for="Ventilateur">Ventilateur</label><br />
                  </div>
                </div>
              </div>

              <div style="border: 2px solid #04538c; border-top: none">
                <div class="row">
                  <div class="col-md-12 col-sm-12" style="display: table">
                    <div
                      class="col-md-2 col-sm-2"
                      style="
                        display: table-cell;
                        width: 5px;
                        text-align: center;
                        border-right: 2px solid #04538c;
                        border-bottom: 2px solid #04538c;
                      "
                    >
                      <label for="PRO" style="padding-left: 5px">PRO</label>
                    </div>
                    <div
                      class="col-md-5 col-sm-5"
                      style="display: table-cell; width: 80%; margin: 0px auto"
                    >
                      <input
                        type="text"
                        id="PRO"
                        name="PRO"
                        style="border-color: #04538c"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12" style="display: table">
                    <div
                      class="col-md-2 col-sm-2"
                      style="
                        display: table-cell;
                        width: 5px;
                        text-align: center;
                        border-right: 2px solid #04538c;
                        border-bottom: 2px solid #04538c;
                      "
                    >
                      <label for="BL" style="padding-left: 5px">BL</label>
                    </div>
                    <div
                      class="col-md-5 col-sm-5"
                      style="display: table-cell; width: 80%; margin: 0px auto"
                    >
                      <input
                        type="text"
                        id="BL"
                        name="BL"
                        style="border-color: #04538c"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12" style="display: table">
                    <div
                      class="col-md-2 col-sm-2"
                      style="
                        display: table-cell;
                        width: 5px;
                        text-align: center;
                        border-right: 2px solid #04538c;
                        border-bottom: 2px solid #04538c;
                      "
                    >
                      <label for="BC" style="padding-left: 5px">BC</label>
                    </div>
                    <div
                      class="col-md-5 col-sm-5"
                      style="display: table-cell; width: 80%; margin: 0px auto"
                    >
                      <input
                        type="text"
                        id="BC"
                        name="BC"
                        style="border-color: #04538c"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- second One done -->
            <div class="col-md-3 col-sm-12">
              <div
                style="
                  border: 2px solid #04538c;
                  border-left: none;
                  padding-left: 5px;
                "
              >
                <div class="row">
                  <h4 class="ToUpper headers3">Radio</h4>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="R_Radio"
                      name="Piece[Radio]"
                      value="Radio"
                    />
                    <label for="R_Radio">Radio</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="R_Haut_parleur"
                      name="Piece[Haut_parleur]"
                      value="Haut parleur"
                    />
                    <label for="R_Haut_parleur">Haut parleur</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="R_Klaxon"
                      name="Piece[Klaxon]"
                      value="Klaxon"
                    />
                    <label for="R_Klaxon">Klaxon</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="R_Antenne"
                      name="Piece[Antenne]"
                      value="Antenne"
                    />
                    <label for="R_Antenne">Antenne</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="R_Pédale_accélérateur"
                      name="Piece[Pédale_accélérateur]"
                      value="Pédale accélérateur"
                    />
                    <label for="R_Pédale_accélérateur"
                      >Pédale accélérateur</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="R_Poignet_de_vitess"
                      name="Piece[Poignet_de_vitess]"
                      value="Poignet de vitess"
                    />
                    <label for="R_Poignet_de_vitess">Poignet de vitess</label
                    ><br />
                  </div>
                </div>
              </div>
            </div>
            <!-- third one done  -->
            <div class="col-md-3 col-sm-12">
              <div
                style="
                  border: 2px solid #04538c;
                  border-left: none;
                  border-right: none;
                  padding-left: 5px;
                "
              >
                <div class="row">
                  <h4 class="ToUpper headers3">Alarme</h4>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="A_Alarme"
                      name="Piece[Alarme]"
                      value="Alarme"
                    />
                    <label for="A_Alarme">Alarme</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="A_Verrouillage_central"
                      name="Piece[Verrouillage_central]"
                      value="Verrouillage central"
                    />
                    <label for="A_Verrouillage_central"
                      >Verrouillage central</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="A_Vitre_électrique"
                      name="Piece[Vitre_électrique]"
                      value="Vitre électrique"
                    />
                    <label for="A_Vitre_électrique">Vitre électrique</label
                    ><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="A_Sirène"
                      name="Piece[Sirène]"
                      value="Sirène"
                    />
                    <label for="A_Sirène">Sirène</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="A_Télécommande"
                      name="Piece[Télécommande]"
                      value="Télécommande"
                    />
                    <label for="A_Télécommande">Télécommande</label><br />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <input
                      type="checkbox"
                      id="A_Gyrophare"
                      name="Piece[Gyrophare]"
                      value="Gyrophare"
                    />
                    <label for="A_Gyrophare">Gyrophare</label><br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-3">
            <label for="comment">Commentaire:</label>
          </div>

          <div class="col-md-12 col-sm-12">
            <textarea
              name="comment"
              id="comment"
              cols="30"
              rows="5"
              style="width: 100%"
            ></textarea>
          </div>
        </div>

        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" multiple="" accept="image/*" />
        <button type="submit" id="SubmitBtn" hidden>Click</button>
      </form>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-md-12 text-right mb-3">
        <button class="btn btn-primary" id="download">Download pdf</button>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
